<div class="md:h-screen">
    <div class="w-full bg-yellow-500 pb-3">
        <app-navbar></app-navbar>
    </div>
    
    <div class="flex justify-center h-2/3 md:items-center md:mt-10">
        <div class="md:border md:w-2/3 h-full md:shadow-xl md:bg-gray-100 card-about">
            <div class="flex flex-col md:flex-row items-center justify-center h-full">
                <div class="flex items-center contac_img flex-1 py-4 bg-yellow-300 h-full hidden md:block">
                    <img src="assets/contact.png" alt="Contact Desktop" class="mx-auto px-4 w-3/4">
                </div>
                <div class="flex md:flex-1 flex-col justify-between md:ml-20">
                    <div class="mt-6 mx-10 md:mx-0">
                        <h1 class="text-left text-yellow-600 text-5xl font-bold">Let's Connect</h1>
                        <h2 class="text-left text-gray-400 font-bold text-2xl">FABIAN CRISTANCHO</h2>
                    </div>
                    <hr>
                    <img src="assets/contact_2.png" alt="Contac phone" class="w-4/5 my-3 block md:hidden mx-auto">
                    <p class="text-xl text-center md:text-left mx-10 md:mx-0 my-5 md:my-12 md:px-4">If you need help I'll be glad to help you, write me!</p>
                    <div class="flex flex-col md:flex-row justify-center items-center bg-gray-100 md:bg-transparent py-3 md:py-0">
                        <div class="mx-0 md:mx-2 my-4 md:my-0 w-4/5">
                            <a href="https://twitter.com/Fabian_2817" target="_blank">
                                <img src="assets/twitter.png" alt="Twitter" class="shadow-md md:shadow-none">
                            </a>
                        </div>
                        <div class="mx-0 md:mx-2 my-4 md:my-0 w-4/5">
                            <a href="https://www.instagram.com/_fabian.cr/" target="_blank">
                                <img src="assets/instagram.png" alt="Instagram" class="shadow-md md:shadow-none">
                            </a>
                        </div>
                        <div class="mx-0 md:mx-2 my-4 md:my-0 w-4/5">
                            <a href="https://www.facebook.com/fabian.cristancho.3" target="_blank">
                                <img src="assets/facebook.png" alt="Facebook" class="shadow-md md:shadow-none">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="md:absolute md:bottom-0 left-0 w-full">
    <app-footer></app-footer>
</div>
